# Ignore artifacts:
build/
# Ignore specific files:
package-lock.json

node_modules

.github
.husky
.prettierignore
.prettierrc
.dockerignore
Dockerfile
.gitignore
README.md
package.json
yarn.lock
